/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.game {
    height: 1010px;
    width: 1298px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.cog {
    position: absolute;
    bottom: 0;
    width: 25px;
    height: 25px;
    background: transparent;
}

.cog1 {
    bottom: 40px;
    left: 600px;
    z-index: 1;
}

.cog2 {
    bottom: 48px;
    left: 700px;
}

.cog3 {
    bottom: 60px;
    left: 800px;
}

.cog4 {
    bottom: 80px;
    left: 500px;
}

.cog5 {
    bottom: 110px;
    left: 400px;
}

.cog6 {
    bottom: 125px;
    left: 200px;
}

.cog img { 
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.handle {
    position: absolute;
    top: 400px;
    left: 92px;
}

.pulley1 {
    position: absolute;
    top: 155px;
    right: 282px;
}

.rope1 {
    position: absolute;
    top: 32px;
    right: 136px;
}

.rope2 {
    position: absolute;
    width:1px;
    border-right: 3px solid black;
    height: 40px;
    top: 63px;
    right: 140px;
}

.cornchip {
    width: 92px;
    height: 84px;
    background-image: url("../img/CornChip.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 97px;
    top: 100px;
}

.salsabowl {
    position: absolute;
    bottom: 0;
    right: 80px;
}

.puppy {
    position: absolute;
    right: -700px;
    top: 600px;

}

.peg {
    background: #8A5D3B;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
}

.peg2 {
    top: 260px;
    left: 215px;
}

.peg3 {
    top: 454px;
    left: 345px;
}

.peg4 {
    top: 255px;
    left: 412px;
}

.peg5 {
    top: 510px;
    left: 463px;
}

.peg6 {
    top: 87px;
    left: 572px;
}

.peg7 {
    top: 265px;
    left: 606px;
}

.peg8 {
    top: 374px;
    left: 608px;
}

.peg9 {
    top: 203px;
    left: 662px;
}

.peg10 {
    top: 491px;
    left: 693px;
}

.peg11 {
    top: 311px;
    left: 817px;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}